        ul {
            list-style-type: none;
            font-family: Arial;
        }

        li {
            float: left;
            margin-right: auto;
            margin-left: 15px;
        }

        table {
            width: 25%;
            background-color: #e5e5e5;
            margin-left: 20px;
        }

        .tableHeader {
            background-color: cadetblue;
        }

        .meetingRow {
            width: 75px
        }

        #requestMeeting {
            action: "";
            method: "post";
            margin-left: 20px;

        }

        ol {
            list-style-type: none;
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding: 12px;
        }